@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customes components */

@layer components {
  .btn-primary {
    @apply inline-block bg-transparent border border-primary text-primary py-2 px-3 mt-5 text-sm md:text-lg rounded-md hover:bg-orange-500 hover:text-white;
    transition: all 0.5s;
  }
  .btn-secondary {
    @apply inline-block bg-transparent border border-primary text-primary py-1 px-4 text-sm md:text-lg rounded-md hover:bg-orange-500 hover:text-white;
    transition: all 0.5s;
  }
  .btn-tertiary {
    @apply inline-block bg-primary py-2 px-3 mt-5 text-sm md:text-lg rounded-md hover:bg-orange-500 text-white;
    transition: all 0.5s;
  }
}
